[Unit]
Description=Alfresco ECM Repository
After=network.target

[Service]
Type=forking
ExecStart=/opt/alfresco/alfresco.sh start
ExecReload=/opt/alfresco/alfresco.sh restart
ExecStop=/opt/alfresco/alfresco.sh stop
PIDFile=/opt/alfresco/tomcat/temp/catalina.pid
WorkingDirectory=/opt/alfresco
Restart=always
User=alfresco
Group=alfresco
LimitNOFILE=65536
SuccessExitStatus=143

# in case running tomcat with an unprivileged user
# and with a port, say 80, in the range 1-1024
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
