[Unit]
Description=Alfresco ECM Repository
Wants=activemq.service
After=network.target activemq.service

[Service]
Type=forking
ExecStart=/opt/alfresco/alfresco.sh start
ExecReload=/opt/alfresco/alfresco.sh restart
ExecStop=/opt/alfresco/alfresco.sh stop
PIDFile=/opt/alfresco/tomcat/temp/catalina.pid
WorkingDirectory=/opt/alfresco
Restart=always
User=alfresco
Group=alfresco
LimitNOFILE=65536
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
