Remember to edit with

# crontab -e

and add:

55 23 * * * /usr/local/script/catalina_rotate.sh /opt/alfresco/tomcat > /dev/null 2>&1
59 23 * * * /usr/local/script/all_logs_compress.sh /opt/alfresco/tomcat > /dev/null 2>&1

also make sure both scripts have execution permissions or

#!/bin/bash

at the beginning of the script
